body{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}


.wrapper{
    width: 40vw;
    padding: 3em;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

h1{
    font-size :2.5em;
}

img {
    /* height: 17em; */
    height: 40vh;
    width: 40vw;
    border-radius: 15px;
}

.preparationTime{
    background-color: hsl(330, 100%, 98%);
    margin-top: 2em;
    padding: 1em;
    border-radius: 15px;
}

.preparationTime > ul {
    width: 15em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    li::marker{
        color: hsl(332, 51%, 32%);
    }
}

li {    /*to give spacing between the lines of list items*/
    padding-bottom: 1em;
}

h3{
    /* color: hsl(330, 100%, 98%); */
    color:hsl(332, 51%, 32%)
}

hr{
    margin: 2em 0 2em 0;
    background-color: hsl(30, 18%, 87%);
    border: none;
    height: 1px;
}

.text{
    font-weight: bold;
}

h2{
    color: hsl(14, 45%, 36%);
}

li::marker{
    color: hsl(14, 45%, 36%);
}

ol::marker{
    color: hsl(14, 45%, 36%);
}

ol > li::marker {   /*to make the numbers in the list bold*/
    font-weight: bold;
  }

table{
    width: 100%;
    height: 100%;
    /* border-bottom: 2px solid #981c1c; */
}

.column1{
    width: 3em;
    padding-left: 2em;
    font-weight: 400;
    
}

.column2{
    /* padding-right: 8em; */
    /* font-weight: 900; */
    color: hsl(14, 45%, 36%);
}

.row1{
    padding-bottom: 15px;
    /* margin-bottom: 10px; */
    
}

th,td {
    padding: 10px;
    border-bottom: 1px solid hsl(30, 18%, 87%);

  }

.row4{
    border-bottom: 0px;

}

ul,ol, li {
    padding-left: 1.3em;
}

.attribution { 
    text-align: center; 
    margin-top: 2em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
